infra/n8n/workflows/examples/calendar-event-to-openclaw-task.json
{
  "name": "Calendar event -> OpenClaw task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar/event-created",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "calendarWebhook",
      "name": "Calendar Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        260
      ],
      "webhookId": "calendar-event-created"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"source\": \"n8n\",\n  \"event_type\": \"calendar.event.created\",\n  \"priority\": \"normal\",\n  \"target_agent\": \"Rook\",\n  \"title\": \"Prepare for calendar event: {{$json.body.summary || 'Untitled event'}}\",\n  \"description\": \"Create an OpenClaw task for meeting preparation, follow-up, or research based on the incoming calendar event.\",\n  \"metadata\": {\n    \"calendar_id\": \"{{$json.body.calendar_id || 'placeholder-calendar'}}\",\n    \"event_id\": \"{{$json.body.id || 'placeholder-event-id'}}\",\n    \"summary\": \"{{$json.body.summary || 'Untitled event'}}\",\n    \"start\": \"{{$json.body.start || $json.body.startTime || ''}}\",\n    \"end\": \"{{$json.body.end || $json.body.endTime || ''}}\",\n    \"attendees\": \"{{$json.body.attendees || []}}\",\n    \"source_url\": \"{{$json.body.htmlLink || ''}}\"\n  }\n}"
      },
      "id": "normalizeCalendarTask",
      "name": "Normalize Calendar Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCLAW_BASE_URL + $env.OPENCLAW_TASK_ENDPOINT}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-openclaw-integration/phase1"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{'calendar-' + $json.metadata.calendar_id + '-' + $json.metadata.event_id}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENCLAW_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{$json.source}}"
            },
            {
              "name": "event_type",
              "value": "={{$json.event_type}}"
            },
            {
              "name": "priority",
              "value": "={{$json.priority}}"
            },
            {
              "name": "target_agent",
              "value": "={{$json.target_agent}}"
            },
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "description",
              "value": "={{$json.description}}"
            },
            {
              "name": "metadata",
              "value": "={{$json.metadata}}"
            }
          ]
        },
        "options": {}
      },
      "id": "createOpenClawTask",
      "name": "Create OpenClaw Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "calendarResponse",
      "name": "Return OpenClaw Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1040,
        260
      ]
    }
  ],
  "connections": {
    "Calendar Event Webhook": {
      "main": [
        [
          {
            "node": "Normalize Calendar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Calendar Payload": {
      "main": [
        [
          {
            "node": "Create OpenClaw Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create OpenClaw Task": {
      "main": [
        [
          {
            "node": "Return OpenClaw Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "phase": "1",
    "notes": "Can later swap the webhook trigger for a Google Calendar trigger node."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "phase1-calendar-event",
  "id": "phase1CalendarEvent",
  "tags": []
}
