infra/n8n/workflows/examples/daily-digest-to-telegram.json
{
  "name": "Daily digest -> Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "dailySchedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.OPENCLAW_BASE_URL + '/api/kanban/boards'}}",
        "options": {}
      },
      "id": "fetchBoards",
      "name": "Fetch Boards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const boards = items[0].json;\nconst summarizeBoard = (board) => {\n  const counts = {};\n  for (const column of board.columns || []) {\n    counts[column.name] = Array.isArray(column.tasks) ? column.tasks.length : 0;\n  }\n  return { board: board.name, counts };\n};\nconst summaries = Array.isArray(boards) ? boards.slice(0, 4).map(summarizeBoard) : [];\nconst lines = ['OpenClaw daily digest'];\nfor (const entry of summaries) {\n  const parts = Object.entries(entry.counts)\n    .filter(([, count]) => Number(count) > 0)\n    .map(([name, count]) => `${name}: ${count}`);\n  lines.push(`- ${entry.board}: ${parts.length ? parts.join(', ') : 'no active tasks'}`);\n}\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "buildDigest",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_AUTOMATION_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_DIGEST_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "sendDigest",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        260
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Boards": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "phase": "1",
    "notes": "Sends a compact daily OpenClaw board digest to Telegram."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "versionId": "phase1-daily-digest",
  "id": "phase1DailyDigest",
  "tags": []
}
