infra/n8n/workflows/examples/github-pr-merged-to-openclaw.json
{
  "name": "GitHub PR merged -> OpenClaw kanban task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github/pr-merged",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "githubWebhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "github-pr-merged"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.action}}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$json.body.pull_request.merged}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ifMerged",
      "name": "Merged PR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"title\": \"Create follow-up draft for merged PR #{{$json.body.pull_request.number}}\",\n  \"description\": \"Turn the merged pull request into a tracked OpenClaw task for release notes, documentation, or social draft generation.\",\n  \"intake_brief\": \"Merged PR #{{$json.body.pull_request.number}} in {{$json.body.repository.full_name}} needs follow-up automation.\",\n  \"priority\": \"medium\",\n  \"labels\": [\"automation\", \"github\", \"pull-request\", \"n8n\"],\n  \"assignee\": \"coach\",\n  \"handoff_notes\": \"Created by n8n from GitHub webhook delivery {{$json.headers['x-github-delivery'] || 'unknown-delivery'}}. PR URL: {{$json.body.pull_request.html_url}}. Merged by {{$json.body.pull_request.merged_by.login}} at {{$json.body.pull_request.merged_at}}.\",\n  \"checklist\": [\n    {\n      \"title\": \"Review the merged PR context and decide the required follow-up artifact\",\n      \"completed\": false,\n      \"position\": 0\n    },\n    {\n      \"title\": \"Produce the requested draft, documentation, or release-note output\",\n      \"completed\": false,\n      \"position\": 1\n    },\n    {\n      \"title\": \"Record links and outcomes back into the task\",\n      \"completed\": false,\n      \"position\": 2\n    }\n  ],\n  \"metadata\": {\n    \"repository\": \"{{$json.body.repository.full_name}}\",\n    \"pr_number\": {{$json.body.pull_request.number}},\n    \"url\": \"{{$json.body.pull_request.html_url}}\",\n    \"merged_by\": \"{{$json.body.pull_request.merged_by.login}}\",\n    \"merged_at\": \"{{$json.body.pull_request.merged_at}}\",\n    \"title\": \"{{$json.body.pull_request.title}}\",\n    \"delivery_id\": \"{{$json.headers['x-github-delivery'] || ''}}\"\n  }\n}"
      },
      "id": "normalizeTask",
      "name": "Normalize Kanban Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCLAW_BASE_URL + $env.OPENCLAW_KANBAN_ENDPOINT}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-openclaw-integration/phase1"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{$json.metadata.repository.replace('/', '-') + '-pr-' + $json.metadata.pr_number + '-merged'}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENCLAW_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_board_id",
              "value": "={{$env.OPENCLAW_DEFAULT_BOARD_ID}}"
            },
            {
              "name": "target_status",
              "value": "={{$env.OPENCLAW_DEFAULT_TARGET_STATUS}}"
            },
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "description",
              "value": "={{$json.description}}"
            },
            {
              "name": "intake_brief",
              "value": "={{$json.intake_brief}}"
            },
            {
              "name": "priority",
              "value": "={{$json.priority}}"
            },
            {
              "name": "labels",
              "value": "={{$json.labels}}"
            },
            {
              "name": "assignee",
              "value": "={{$json.assignee}}"
            },
            {
              "name": "project_id",
              "value": "={{$env.OPENCLAW_DEFAULT_PROJECT_ID}}"
            },
            {
              "name": "related_repo",
              "value": "={{$env.OPENCLAW_DEFAULT_RELATED_REPO}}"
            },
            {
              "name": "handoff_notes",
              "value": "={{$json.handoff_notes}}"
            },
            {
              "name": "checklist",
              "value": "={{$json.checklist}}"
            }
          ]
        },
        "options": {}
      },
      "id": "sendToOpenClaw",
      "name": "Create Kanban Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ignored\",\"reason\":\"event was not a merged pull request\"}",
        "options": {}
      },
      "id": "ignoredResponse",
      "name": "Ignored Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        760,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "webhookResponse",
      "name": "Return OpenClaw Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1220,
        220
      ]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Merged PR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merged PR?": {
      "main": [
        [
          {
            "node": "Normalize Kanban Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignored Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Kanban Payload": {
      "main": [
        [
          {
            "node": "Create Kanban Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kanban Task": {
      "main": [
        [
          {
            "node": "Return OpenClaw Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "phase": "1",
    "notes": "Production-minded phase-1 workflow targeting the live OpenClaw kanban API on the Marcus VM."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "phase1-github-pr-merged",
  "id": "phase1GithubPrMerged",
  "tags": []
}
