infra/n8n/workflows/examples/openclaw-task-done-to-telegram-summary.json
{
  "name": "OpenClaw task done -> Telegram summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw/task-done",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "doneWebhook",
      "name": "Task Done Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        260
      ],
      "webhookId": "openclaw-task-done"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst taskId = body.task_id || body.id || 'unknown-task';\nconst title = body.title || 'Untitled task';\nconst summary = body.summary || body.description || 'Task reached done state.';\nconst agent = body.assigned_agent || body.agent || 'unknown';\nconst lines = [\n  'OpenClaw task completed',\n  `Task: ${taskId}`,\n  `Title: ${title}`,\n  `Agent: ${agent}`,\n  `Summary: ${summary}`,\n];\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "formatDoneMessage",
      "name": "Format Done Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_AUTOMATION_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_DIGEST_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "sendDoneMessage",
      "name": "Send Done Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {}
      },
      "id": "respondDone",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1020,
        260
      ]
    }
  ],
  "connections": {
    "Task Done Webhook": {
      "main": [
        [
          {
            "node": "Format Done Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Done Message": {
      "main": [
        [
          {
            "node": "Send Done Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Done Summary": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "phase": "1",
    "notes": "Receives a task-done event from OpenClaw and forwards a compact summary to Telegram."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "phase1-task-done-summary",
  "id": "phase1TaskDoneSummary",
  "tags": []
}
